.inbox-main {
  padding: 10px;
  height: calc(100vh - 92px);
  overflow-y: scroll;
}

@media (min-width: 320px) and (max-width: 768px) {
  .inbox-main .inbox-profile-img {
    display: flex;
    justify-content: space-between;
  }

  .inbox-main .inbox-profile-img .like-counter {
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 58px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 100px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .inbox-profile-img .profile-content h6 {
    letter-spacing: 0px;
    font: normal normal normal 8px/12px Poppins;
    margin: 0px !important;
    text-align: center;
    padding: 10px 6px 0 0;
  }

  .inbox-profile-img .profile-content {
    width: 75px;
    height: 75px;
  }

  .inbox-profile-img .profile-content .like-counter-content {
    padding-top: 14px;
  }
  .border-content {
    width: auto;
    height: 2px;
    background-color: #e69702;
    margin-top: 50px;
    margin-left: 10px;
  }

  .inbox-main .messages {
    display: flex;
  }

  .inbox-main .messages .messages-content {
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 48px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 100px;
    position: relative;
    margin-top: 25px;
    margin-left: 2px;
  }

  .inbox-main .messages .messages-content img{
    width: 25px;
  }

  .inbox-main .messages .messages-content .messages-notification {
    width: 18px;
    height: 18px;
    line-height: 16px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 0px;
    right: -5px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
  }

  .inbox-main .messages .Messages-text {
    margin: 35px;
  }

  .inbox-main .messages .chat-profile {
    width: 55px;
    height: 55px;
  }

  .inbox-main .messages .chat-profile-img-main {
    margin-top: 8px;
    position: relative
  }

  .messages .chat-messages h4 {
    font: normal normal 600 12px/18px Poppins;
    color: #000000;
    letter-spacing: 0px;
    margin: 10px 0 0 12px;
  }

  .messages .chat-messages p {
    font: normal normal bold 10px/16px Poppins;
    letter-spacing: 0px;
    margin: 6px 0 0 12px;
    color: #1d1d1d;
    opacity: 0.64;
  }

  .inbox-main .messages-time {
    margin-left: auto;
  }

  .inbox-main .messages-time h6 {
    font: normal normal bold 10px/16px Poppins;
    color: #e69702;
    opacity: 1;
    font-size: 10px;
    margin: 10px;
  }

  .inbox-main .messages-time-on-off {
    font: normal normal bold 10px/16px Poppins;
    font-size: 10px;
    color: #4d4d4d;
    opacity: 1;
    margin-top: 8px;
    margin-left: auto;
    margin-right: 10px;
  }

  .inbox-main .messages-counts {
    width: 12px;
    height: 12px;
    background-color: red;
    font: normal normal 600 8px/12px Poppins;
    border-radius: 50%;
    color: #ffffff;
    font-size: 8px;
    margin-left: 10px;
    text-align: center;
  }
  .inbox-main .Conversation-starters{
    display: grid;
  }
  .inbox-main .Conversation-starters h2 {
    margin-bottom: 25px;
    font-size: 16px !important;
    text-align: center;
    font: normal normal 600 16px/25px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .inbox-main .Conversation-starters .first-text {
    border-radius: 11px;
    opacity: 1;
    background: transparent linear-gradient(258deg, #f7c35f 0%, #e69702 100%) 0%
      0% no-repeat padding-box;
    font-size: 10px;
    width: 214px;
    text-align: left;
    font: normal normal bold 10px/16px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 10px;
  }

  .inbox-main .Conversation-starters .first-text-replay {
    border-radius: 11px;
    opacity: 1;
    background: transparent linear-gradient(258deg, #f7c35f 0%, #e69702 100%) 0%
      0% no-repeat padding-box;
    font-size: 10px !important;
    width: 214px;
    text-align: left;
    float: right;
    font: normal normal bold 10px/16px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 10px;
  }

  .inbox-main .input-area, .community .input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 70px; */
    padding: 10px 0;
    position: fixed;
    left: 0;
    background: #fff;
    bottom: 0px;
    width: 100%;
  }
  .inbox-main .input-area .send-gift, .community .input-area .send-gift
  .inbox-main .input-area .choose-picture, .community .input-area .choose-picture {
    display: grid;
    place-items: center;
  }
  .inbox-main .input-area .choose-picture, .community .input-area .choose-picture {
    width: 35px;
    height: 35px;
    background: #e6e6e6 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #e6e6e6;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
  }
  .inbox-main .input-area .choose-picture img, .community .input-area .choose-picture img {
    width: 16px;
    height: 16px;
  }

  .inbox-main .input-area .send-gift, .community .input-area .send-gift {
    width: 35px;
    height: 35px;
    background: #e6e6e6 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #e6e6e6;
    border-radius: 50%;
    text-align: center;
    margin: 0 5px;
  }
  .inbox-main .input-area .send-gift img, .community .input-area .send-gift img {
    width: 16.5px;
    height: 16.5px;
  }

  .inbox-main .input-area .text-input-main, .community .input-area .text-input-main {
    width: -webkit-fill-available;
    border: transparent !important;
    background: #e6e6e6 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
    padding-left: 15px;
    text-align: left;
    font: normal normal normal 10px/16px Poppins;
    width: -webkit-fill-available;
    letter-spacing: 0px;
    color: #000000;
  }
  .inbox-main .input-area .input-chat, .community .input-area .input-chat {
    position: relative;
  }
  .inbox-main .input-area .input-chat .text-input, .community .input-area .input-chat .text-input {
    border: transparent !important;
    width: calc(100vw - 87px) !important;
    height: 35px;
    background: #e6e6e6 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
    padding-left: 15px;
    text-align: left;
    font: normal normal normal 10px/16px Poppins;
    letter-spacing: 0px;
    color: #000000;
  }

  .inbox-main .input-area .emoji-img, .community .input-area .emoji-img {
    position: absolute;
    right: 5px;
    top: calc(50% - 14.5px);
  }

  .inbox-main .online{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #E30000 0% 0% no-repeat padding-box;
    position: absolute;
    top: 41px;
    left: 42px;
  }
  
  .inbox-main .offline {
    background: #3AD800 0% 0% no-repeat padding-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 41px;
    left: 42px;
  }

}
