.inbox-main {
  padding: 10px;
  height: calc(100vh - 56px);
  overflow: hidden !important;
}

.inbox-main .input-area .send-gift {
  position: relative;
  cursor: pointer;
}

.inbox-main .input-area .send-gift .gifts {
  position: absolute;
  top: -110px;
  left: 0;
  width: 200px;
  height: 100px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 555 !important;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  column-gap: 5px;
  background: #ffffff;
}

.inbox-main .input-area .send-gift .gifts img {
  width: 40px;
  height: 40px;
}

/* <<<<======================Web view=======================>>>> */

.inbox-main .inbox-profile-img {
  display: flex;
  justify-content: space-between;
}

.handle-chat-scroll {
  overflow-y: auto !important;
  height: calc(100vh - 243px);
  /* background: #000; */
  padding-right: 10px;
  border-right: 2px solid #e69702;
}

.inbox-main .inbox-profile-img .like-counter {
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 58px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 100px;
  margin-top: 5px;
  margin-left: 10px;
}

.inbox-profile-img .profile-content h6 {
  letter-spacing: 0px;
  font: normal normal normal 8px/12px Poppins;
  margin: 0px !important;
  text-align: center;
  padding: 10px 6px 0 0;
}

.inbox-profile-img .profile-content {
  width: 75px;
  height: 75px;
}

/* .inbox-profile-img .profile-content .like-counter-content {
  padding-top: 14px;
} */

.border-content {
  width: 100%;
  height: 2px;
  background-color: #e69702;
  margin-top: 20px;
  /* margin-left: 10px; */
}

.inbox-main .messages {
  display: flex;
}

.inbox-main .messages {
  display: flex;
  padding: 5px;
  border-radius: 10px;
}

.messages-focus {
  background-color: hsl(39, 71%, 63%);
}

/* .messages-time-click{
  color: #fff !important;

} */

.inbox-main .messages .messages-content {
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 48px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 100px;
  position: relative;
  margin-top: 25px;
  margin-left: 2px;
}

.inbox-main .messages .messages-content img {
  width: 25px;
}

.inbox-main .messages .messages-content .messages-notification {
  width: 18px;
  height: 18px;
  line-height: 16px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  top: 0px;
  right: -5px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.inbox-main .Messages-text {
  margin: 15px 0;
}

.inbox-main .messages .chat-profile {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.inbox-main .messages .chat-profile-img-main {
  margin-top: 8px;
  position: relative;
}

.messages .chat-messages h4 {
  font: normal normal 600 12px/18px Poppins;
  color: #000000;
  letter-spacing: 0px;
  margin: 10px 0 0 12px;
  min-height: 18px;
}

.chat-messages-click h4 {
  color: #fff !important;
}

.chat-messages-click p {
  color: #fff !important;
}

.messages .chat-messages h6 {
  font: normal normal bold 10px/16px Poppins;
  color: #e69702;
  opacity: 1;
  font-size: 10px;
  margin-left: 14px;
}

.messages .chat-messages p {
  font: normal normal bold 10px/16px Poppins;
  letter-spacing: 0px;
  margin: 0 0 0 12px;
  color: #1d1d1d;
  opacity: 0.64;
  min-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
}

.chat-messages{
  overflow-x: hidden;
}

.inbox-main .messages-time {
  margin-left: auto;
}

.messages-time-click h6 {
  color: #fff !important;
}

.inbox-main .messages-time h6 {
  font: normal normal bold 10px/16px Poppins;
  color: #e69702;
  opacity: 1;
  font-size: 10px;
  margin-left: 14px;
  width: 45px;
}

.inbox-main .messages-time-on-off {
  font: normal normal bold 10px/16px Poppins;
  font-size: 10px;
  color: #4d4d4d;
  opacity: 1;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 10px;
}

.inbox-main .messages-counts {
  background-color: red;
  font: normal normal 600 8px/12px Poppins;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  padding: 2px;
  top: 100px;
  right: 104px;
  /* margin-left: 10px; */
  position: absolute;
  text-align: center;
  min-width: 15px;
}

/* <<<<========================right side content========================>>>> */
.Conversation-starters-scroll {
  overflow-y: hidden !important;
  height: 100vh;
  padding: 0 !important;
}

.inbox-main .Conversation-starters {
  height: calc(100vh - 66px);
  position: relative;
}

.inbox-main .Conversation-starters .scrool {
  height: calc(100vh - 235px);
  overflow-y: scroll;
  padding: 20px 0 34px 0;
}

.inbox-main .Conversation-starters .text-grid {
  display: grid;
}

.inbox-main .Conversation-starters .massage-and-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.inbox-main .Conversation-starters .incoming-massage-and-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inbox-main .Conversation-starters .massage-and-time  h3{
  margin-bottom: 0px !important;
}

.inbox-main .Conversation-starters .incoming-massage-and-time  h3{
  margin-bottom: 0px !important;
}

.inbox-main .Conversation-starters .massage-and-time p{
  font-size: 10px;
  margin-right: 3px;
}
.inbox-main .Conversation-starters .incoming-massage-and-time p{
  font-size: 10px;
  margin-left: 3px;
}

.inbox-main .Conversation-starters h2 {
  margin-bottom: 25px;
  font-size: 16px !important;
  text-align: center;
  font: normal normal 600 16px/25px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.inbox-main .Conversation-starters .first-text {
  border-radius: 11px;
  opacity: 1;
  background: transparent linear-gradient(258deg, #f7c35f 0%, #e69702 100%) 0%
    0% no-repeat padding-box;
  font-size: 10px;
  width: fit-content;
  margin-right: 20%;
  text-align: left;
  font: normal normal bold 10px/16px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 10px;
}

.inbox-main .Conversation-starters .first-text-replay {
  border-radius: 11px;
  opacity: 1;
  background: transparent linear-gradient(258deg, #f7c35f 0%, #e69702 100%) 0%
    0% no-repeat padding-box;
  font-size: 10px !important;
  width: fit-content;
  margin-left: 20%;
  text-align: left;
  float: right;
  font: normal normal bold 10px/16px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 10px;
}

/* ============================================================================================================================================= */

.inbox-main .input-area,
.community .input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 0; */
  position: absolute;
  left: 0;
  background: #fff;
  bottom: 0;
  width: 100%;
}

.inbox-main .input-area .send-gift,
.community .input-area .send-gift .inbox-main .input-area .choose-picture,
.community .input-area .choose-picture {
  display: grid;
  place-items: center;
}

.inbox-main .input-area .choose-picture,
.community .input-area .choose-picture {
  width: 35px;
  height: 35px;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #e6e6e6;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
}

.inbox-main .input-area .choose-picture img,
.community .input-area .choose-picture img {
  width: 16px;
  height: 16px;
}

.inbox-main .input-area .send-gift,
.community .input-area .send-gift {
  width: 35px;
  height: 35px;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #e6e6e6;
  border-radius: 50%;
  text-align: center;
  margin: 0 5px;
}

.inbox-main .input-area .send-gift img,
.community .input-area .send-gift img {
  width: 16.5px;
  height: 16.5px;
}

.inbox-main .input-area .text-input-main,
.community .input-area .text-input-main {
  width: -webkit-fill-available;
  border: transparent !important;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  border-radius: 18px;
  opacity: 1;
  padding-left: 15px;
  text-align: left;
  font: normal normal normal 10px/16px Poppins;
  width: -webkit-fill-available;
  letter-spacing: 0px;
  color: #000000;
}

.inbox-main .input-area .input-chat,
.community .input-area .input-chat {
  position: relative;
  width: 100%;
  /* width: calc(100vw - 87px) !important; */
}

.inbox-main .input-area .input-chat .text-input,
.community .input-area .input-chat .text-input {
  border: transparent !important;
  height: 35px;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  border-radius: 18px;
  opacity: 1;
  padding-left: 15px;
  text-align: left;
  font: normal normal normal 10px/16px Poppins;
  letter-spacing: 0px;
  color: #000000;
}

.inbox-main .input-area .emoji-img,
.community .input-area .emoji-img {
  position: absolute;
  right: 5px;
  top: calc(50% - 14.5px);
}

.inbox-main .online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 41px;
  background: #3ad800 0% 0% no-repeat padding-box;
  left: 42px;
}

.inbox-main .offline {
  background: #e30000 0% 0% no-repeat padding-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 41px;
  left: 42px;
}

.inbox-main .input-area .input-chat img,
.input-chat img {
  display: none;
}
.community-input-chat {
  position: relative;
}
.community-input-chat .inbox-send-msg-btn {
  position: absolute;
  right: 55px;
  top: calc(50% - 15px);
  display: none;
  z-index: 99999;
}
.fotterinput .gifts img {
  width: 40px;
  height: 40px;
}
.fotterinput .gifts {
  position: absolute;
  top: -110px;
  left: 0;
  width: 200px;
  height: 100px;
  box-shadow: 5px 3px 10px rgb(0 0 0 / 30%);
  z-index: 555 !important;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  grid-column-gap: 5px;
  column-gap: 5px;
  background: #ffffff;
}

@media (min-width: 320px) and (max-width: 767px) {

  .now-chatting-with {
    text-align: center;
    font-size: 18px !important;
    line-height: 1 !important;
    margin-bottom: 1px !important;
  }

  .divider-div {
    width: 100%;
    height: 2px;
    background-color: #e69702;
    border-top: 2px solid #e69702;
}

  .community-input-chat .inbox-send-msg-btn {
    display: block;
  }
  .react-input-emoji--placeholder {
    font-size: 9px !important;
    left: 9px !important;
  }

  .emoji-mart {
    width: 97% !important;
  }

  .react-emoji-picker--wrapper {
    width: 282px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  /* .inbox-main {
    height: calc(100vh - 55px);
  } */

  .inbox-main .inbox-profile-img {
    display: flex;
    justify-content: space-between;
  }

  .handle-chat-scroll {
    height: 238px;
    border-right: none;
    /* border-bottom: 2px solid #e69702; */
  }

  .chat-top-header {
    display: none;
  }

  .Conversation-starters-scroll {
    /* height: calc(100vh - 249px); */
    height: calc(100vh - 435px);  
  }

  .inbox-main .Conversation-starters {
    /* height: calc(100vh - 350px); */
    height: calc(100vh - 558px);
  }

  .inbox-main .Conversation-starters .scrool {
    height: calc(100vh - 595px);
    padding:10px 0 20px 0;
  }

  .inbox-main .inbox-profile-img .like-counter {
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 58px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 100px;
    /* margin-top: 5px;
    margin-left: 5px; */
  }

  .inbox-profile-img .profile-content h6 {
    letter-spacing: 0px;
    font: normal normal normal 8px/12px Poppins;
    margin: 0px !important;
    text-align: center;
    padding: 10px 6px 0 0;
  }

  .inbox-profile-img .profile-content {
    width: 75px;
    height: 75px;
    text-align: center;
  }

  .inbox-profile-img .profile-content .like-counter-content {
    padding-top: 14px;
  }

  .border-content {
    /* width: auto; */
    height: 2px;
    background-color: #e69702;
    /* margin-top: 10px; */
    /* margin-left: 10px; */
    border-top: 2px solid #e69702;
  }

  .inbox-main .messages {
    display: flex;
    padding: 2px;
  }

  .inbox-main .messages .messages-content {
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 48px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 100px;
    position: relative;
    margin-top: 25px;
    margin-left: 2px;
  }

  .inbox-main .messages .messages-content img {
    width: 25px;
  }

  .inbox-main .messages .messages-content .messages-notification {
    width: 18px;
    height: 18px;
    line-height: 16px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 0px;
    right: -5px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
  }

  .inbox-main .Messages-text {
    margin: 1px 0;
    font-size: 20px;
  }

  .inbox-main .messages .chat-profile {
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }

  .inbox-main .messages .chat-profile-img-main {
    margin-top: 8px;
    position: relative;
  }

  .messages .chat-messages h4 {
    font: normal normal 600 12px/18px Poppins;
    color: #000000;
    letter-spacing: 0px;
    margin: 10px 0 0 12px;
  }

  .messages .chat-messages p {
    font: normal normal bold 10px/16px Poppins;
    letter-spacing: 0px;
    margin: 0 0 0 12px;
    color: #1d1d1d;
    opacity: 0.64;
    min-width: fit-content;
    overflow: hidden;
    white-space: nowrap;
  }

  .inbox-main .messages-time {
    margin-left: auto;
  }

  .inbox-main .messages-time h6 {
    font: normal normal bold 10px/16px Poppins;
    color: #e69702;
    opacity: 1;
    font-size: 10px !important;
    margin: 10px;
  }

  .inbox-main .messages-time-on-off {
    font: normal normal bold 10px/16px Poppins;
    font-size: 10px;
    color: #4d4d4d;
    opacity: 1;
    margin-top: 8px;
    margin-left: auto;
    margin-right: 10px;
  }

  .inbox-main .messages-counts {
    background-color: red;
  font: normal normal 600 8px/12px Poppins;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  padding: 2px;
  top: 100px;
  right: 104px;
  /* margin-left: 10px; */
  position: absolute;
  text-align: center;
  min-width: 15px;
  }

  .inbox-main .Conversation-starters {
    display: grid;
  }

  .inbox-main .Conversation-starters h2 {
    margin-bottom: 25px;
    font-size: 16px !important;
    text-align: center;
    font: normal normal 600 16px/25px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .inbox-main .Conversation-starters .first-text {
    border-radius: 11px;
    opacity: 1;
    background: transparent linear-gradient(258deg, #f7c35f 0%, #e69702 100%) 0%
      0% no-repeat padding-box;
    font-size: 10px;
    width: fit-content;
    margin-right: 20%;
    text-align: left;
    font: normal normal bold 10px/16px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 10px;
  }

  .inbox-main .Conversation-starters .first-text-replay {
    border-radius: 11px;
    opacity: 1;
    background: transparent linear-gradient(258deg, #f7c35f 0%, #e69702 100%) 0%
      0% no-repeat padding-box;
    font-size: 10px !important;
    width: fit-content;
    max-width: 250px;
    word-break: break-all;
    margin-left: 20%;
    text-align: left;
    float: right;
    font: normal normal bold 10px/16px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 10px;
  }

  .inbox-main .input-area,
  .community .input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 70px; */
    /* padding: 10px 0; */
    /* position: fixed; */
    left: 0;
    padding-bottom: 10px;
    background: transparent;
    bottom: -100px;
    width: 100%;
  }

  .inbox-main .input-area .send-gift,
  .community .input-area .send-gift .inbox-main .input-area .choose-picture,
  .community .input-area .choose-picture {
    display: grid;
    place-items: center;
  }

  .inbox-main .input-area .choose-picture,
  .community .input-area .choose-picture {
    width: 30px;
    height: 30px;
    background: #e6e6e6 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #e6e6e6;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
  }

  .inbox-main .input-area .choose-picture img,
  .community .input-area .choose-picture img {
    width: 16px;
    height: 16px;
  }

  .inbox-main .input-area .send-gift,
  .community .input-area .send-gift {
    width: 30px;
    height: 30px;
    background: #e6e6e6 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #e6e6e6;
    border-radius: 50%;
    text-align: center;
    margin: 0 5px;
  }

  .inbox-main .input-area .send-gift img,
  .community .input-area .send-gift img {
    width: 16.5px;
    height: 16.5px;
  }

  .inbox-main .input-area .text-input-main,
  .community .input-area .text-input-main {
    width: -webkit-fill-available;
    border: transparent !important;
    background: #e6e6e6 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
    padding-left: 15px;
    text-align: left;
    font: normal normal normal 10px/16px Poppins;
    width: -webkit-fill-available;
    letter-spacing: 0px;
    color: #000000;
  }

  .inbox-main .input-area .input-chat,
  .community .input-area .input-chat {
    position: relative;
  }

  .inbox-main .input-area .input-chat img,
  .input-chat .inbox-send-msg-btn {
    position: absolute;
    display: block;
    top: calc(50% - 4px);
    right: 29px;
  }

  .inbox-main .input-area .input-chat .text-input,
  .community .input-area .input-chat .text-input {
    border: transparent !important;
    /* width: calc(100vw - 87px) !important; */
    height: 35px;
    background: #e6e6e6 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
    padding-left: 15px;
    text-align: left;
    font: normal normal normal 10px/16px Poppins;
    letter-spacing: 0px;
    color: #000000;
  }

  .inbox-main .input-area .emoji-img,
  .community .input-area .emoji-img {
    position: absolute;
    right: 5px;
    top: calc(50% - 14.5px);
  }

  .inbox-main .online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3ad800 0% 0% no-repeat padding-box;
    position: absolute;
    top: 41px;
    left: 42px;
  }

  .inbox-main .offline {
    background: #e30000 0% 0% no-repeat padding-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 41px;
    left: 42px;
  }
}

/*=========bhargav==========*/
.gif-container {
  height: 250px;
  /* width: 500px; */
  background-color: #000000;
  display: flex;
  justify-content: center;
  position: relative;
}

.gif-container img{
  /* width: 100%; */
  /* height: 100%; */
}

.gif-big {
  height: 150px;
  margin-top: 35px;
}

.gif-container .icon {
  position: absolute;
  right: 10px;
}

.gif-container .submit {
  position: absolute;
  right: 10px;
  bottom: 5px;
  border-radius: 5px;
  border: 0px;
  background-color: #007bff;
}

.no-chat-found {
  text-align: center;
  margin-top: 20%;
}

.nav-links .messages-counts,
.navLinks .messages-counts{
  background-color: red;
  font: normal normal 600 8px/12px Poppins;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  padding: 2px;
  top: 100px;
  right: 104px;
  /* margin-left: 10px; */
  position: absolute;
  text-align: center;
  min-width: 15px;
}

.staticmsg-span{
  border: 1px solid #e69702;
  border-radius: 20px;
  padding:5px 10px;
}

.Conversation-starters .slick-slide
{
  opacity: 1 !important;
}

.Conversation-starters .slick-slider {
  width: 88vw;;
}

@media (min-width:600px   ) and (max-width: 767px) {
  .Conversation-starters .slick-slider {
    width: 71vw;;
  }
  
}