@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.login-card{
  width: 600px;
  margin: 0 auto;
  height: 90vh;
  box-shadow: 7px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 40px;
  position: relative;
  overflow: hidden;
}

.layout-padding{
  padding: 50px 30px 0 30px;
}
.App {
  overflow-x: hidden;
}
.login-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.login-header .text h5,
.login-header .text p {
  margin: 0;
  color: #000000;
  text-align: left;
  letter-spacing: 0px;
}
.login-header .text h5 {
  font: normal normal 600 16px/25px Poppins;
}
.login-header .text p {
  font: italic normal normal 9px/14px Poppins;
  opacity: 0.42;
}

.header-logo img {
  width: 55px;
  height: 55px;
}
.top-baloon {
  position: absolute;
  top: -49px;
  right: -35px;
  width: 165px;
  height: 165px;
}
.top-baloon::before,
.top-baloon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #e69702 0% 0% no-repeat padding-box;
}
.top-baloon::before {
  opacity: 0.06;
  border-radius: 50%;
  z-index: 9 !important;
}
.top-baloon::after {
  transform: scale(1.2);
  opacity: 0.07;
  border-radius: 50%;
  z-index: 5 !important;
}
.login-footer {
  height: 501px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}
.bottom-baloon {
  width: 501px;
  height: 501px;
  position: absolute;
  left: calc(50% - 250.5px);
  bottom: -444px;
}
.bottom-baloon::before,
.bottom-baloon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #e69702 0% 0% no-repeat padding-box;
}
.bottom-baloon::before {
  border-radius: 50%;
  z-index: 5;
  opacity: 0.09;
}
.bottom-baloon::after {
  border-radius: 50%;
  opacity: 0.07;
  z-index: 2;
  transform: scale(1.15);
}
.login h2 {
  text-align: left;
  font: normal normal bold 35px/53px Poppins;
  letter-spacing: 0px;
  color: #000000;
  margin: 30px 0;
}
.login .login-label {
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.45;
  margin: 30px 0 0 0 !important;
}
.login .login-input {
  border: none;
  border-bottom: 1px solid #acacac;
  border-radius: 0;
  box-shadow: none !important;
  outline: none !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-left: 0 !important;
  color: #e69702;
  font-weight: bold;
}
.login .login-input:focus {
  border-color: #e69904 !important;
}
.login ::placeholder {
  text-align: left;
  font: normal normal 600 16px/25px Poppins;
  letter-spacing: 0px;
  color: #e69904 !important;
  opacity: 1;
}
input[type="password"]::placeholder {
  letter-spacing: 3px;
}
.login .login-btn {
  width: 100%;
  height: 63px;
  background: transparent linear-gradient(180deg, #f7c35f 0%, #e69702 100%) 0%
    0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  border: none;
  box-shadow: none !important;
  font: normal normal bold 18px/27px Poppins;
  letter-spacing: 0px;
  color: #000000 !important;
}
.container_check {
  transform: scale(1.2);
  margin-right: 10px;
}
.login .rememberme-label {
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.login .forgot-password {
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.45;
}

.login .dont-have-account {
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  opacity: 0.45;
  margin-top: 25px !important;
}
.login .dont-have-account .dont-have-account-link {
  color: #e69702;
}
.login .forgot-password:hover,
.login .dont-have-account .dont-have-account-link:hover {
  color: #e69904 !important;
}

/* ============================= signup css ================= */
.signup-with-social span {
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.45;
}
.signup-with-social {
  position: relative;
}
.signup-with-social::after,
.signup-with-social::before {
  content: "";
  position: absolute;
  top: 13px;
  width: 12%;
  height: 1px;
  background: #707070;
  opacity: 0.25;
}
.signup-with-social::after {
  right: 0;
}
.signup-with-social::before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 12%;
  height: 1px;
  background: #707070;
  opacity: 0.25;
}
.input-field {
  position: relative;
}
.input-field img {
  position: absolute;
  right: 0;
  bottom: 15px;
  width: 21px;
  height: 21px;
}
.signup-with-social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}
.signup-with-social-icons figure:nth-child(1) img {
  width: 30px;
  height: 30px;
}
.signup-with-social-icons figure:nth-child(2) img {
  width: 28px;
  height: 28px;
}
.signup-with-social-icons figure:nth-child(3) img {
  width: 30.5px;
  height: 22.87px;
}

@media (min-width: 200px) and (max-width: 768px) {
  /* ========== login page css start =========== */
  .layout-padding{
    padding: 50px 30px 0 30px;
  }
  .login-card{
   all: unset;
  }
  .App {
    overflow-x: hidden;
  }
  .login-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
  }

  .login-header .text h5,
  .login-header .text p {
    margin: 0;
    color: #000000;
    text-align: left;
    letter-spacing: 0px;
  }
  .login-header .text h5 {
    font: normal normal 600 12px/18px Poppins;
  }
  .login-header .text p {
    font: italic normal normal 6px/9px Poppins;
    opacity: 0.42;
  }

  .header-logo img {
    width: 46px;
    height: 46px;
  }
  .login h2 {
    margin: 50px 0;
  }


  /* ========== profile page css start =========== */
  .header h1 {
    font: normal normal bold 35px/53px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
  }
  .header-text {
    text-align: left;
    font: normal normal 600 21px/31px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
  }
  .header .steps {
    display: flex;
    column-gap: 5px;
  }
  .header .steps .step {
    width: 15px;
    height: 15px;
    background: #f7f7f7 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
  }
  .header .steps .step.done {
    background: #e69702 0% 0% no-repeat padding-box;
  }
  .gender-btn {
    border: none;
    outline: none;
    margin-top: 10px;
  }
  .gender .male {
    width: 84px;
    height: 42px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 0.24;
  }

  .gender .female {
    width: 84px;
    height: 42px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 0.5;
    margin-left: 10px;
  }
  .gender-btn.active {
    box-shadow: 0px 6px 6px #00000052;
  }
  .slector select::before {
    display: none;
  }

  .slector select {
    height: 41px;
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e69702;
    border-radius: 6px;
    opacity: 1;
  }
  .slector .selected {
    text-align: left;
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.3;
  }
  .reactSelector .css-1okebmr-indicatorSeparator {
    display: none;
  }
  .reactSelector .css-26l3qy-menu {
    margin-top: 0 !important;
    border: 1px solid #e69702;
    padding: 0 10px !important;
    position: unset;
  }
  .reactSelector .css-yk16xz-control {
    border-radius: 6px !important;
  }
  .reactSelector .css-1pahdxg-control {
    border-color: #e69702 !important;
    box-shadow: none !important;
  }
  .reactSelector .css-yt9ioa-option,
  .reactSelector .css-1n7v3ny-option {
    border-bottom: 1px solid #acacac !important;
    text-align: left;
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .reactSelector .css-1n7v3ny-option {
    background: transparent !important;
  }
  .reactSelector .css-yt9ioa-option:last-child {
    border: none !important;
  }
  .reactSelector .css-9gakcf-option {
    background: #f7c35f !important;
  }
  .textarea textarea {
    width: 100%;
    height: auto;
    text-align: left;
    font: normal normal 600 16px/25px Poppins;
    letter-spacing: 0px;
    color: #e69904;
    opacity: 1;
    border: none;
    border-bottom: 1px solid #e69904;
    padding: 5px;
  }
  /* .setProfileImage{
    mart
  } */
  .setProfileImage .guidelines {
    text-align: left;
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
  }
  .setProfileImage .span-text {
    text-align: left;
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.45;
  }
  .setProfileImage .note {
    width: 100%;
    /* text-align: center; */
    background: #fff5e2 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 10px 5px;
    margin-top: 10px;
    display: grid;
    place-items: center;
  }
  .setProfileImage .note span {
    font: italic normal normal 10px/16px Poppins;
    letter-spacing: 0px;
    color: #000000;
    /* line-height: 50px; */
  }
  .take-picture {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-top: 30px;
    position: relative;
  }
  .take-picture .take-picture-hand {
    width: 175px;
    height: 175px;
    border-radius: 100%;
  }
  video {
    min-height: 100% !important;
    min-width: 100% !important;
    border-radius: 50% !important;
    object-fit: cover !important;
  }
  .take-picture .camera {
    position: absolute;
    width: 53px;
    height: 53px;
    background: #e69702 0% 0% no-repeat padding-box;
    opacity: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    bottom: 8px;
    right: 16px;
  }
  .take-picture-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }
  .take-picture-text img {
    width: 18px;
    height: 18px;
  }
  .take-picture-text p {
    font: normal normal bold 14px/19px AppleSystemUIFont;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .verified {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .verified figure {
    width: 193px;
    height: 188px;
  }
  .verified figure img {
    width: 100%;
    height: 100%;
  }
  .verified h5 {
    font: normal normal bold 21px/31px Poppins;
    letter-spacing: 0px;
    color: #05c105;
    margin-top: 47px;
  }
  /* ==================== changing input type date calendar icon ===== */
  input[type="date"] {
    position: relative;
    padding: 10px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
  }

  input[type="date"]:before {
    color: transparent;
    background: url(./assets/img/calendar-dot.png);
    background-repeat: no-repeat;
    display: block;
    font-family: "FontAwesome";
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
    right: 10px;
    color: #999;
  }
  .toggleIcone .css-tj5bde-Svg {
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 768px) {
  .signup-with-social::after,
  .signup-with-social::before {
    width: 25%;
  }
}
@media only screen and (max-width: 491px) {
  .signup-with-social::after,
  .signup-with-social::before {
    width: 15%;
  }
}
@media only screen and (max-width: 369px) {
  .login .rememberme-label,
  .login .forgot-password {
    font-size: 11px;
  }
  .login .dont-have-account {
    font-size: 11px;
  }
  .signup-with-social::after,
  .signup-with-social::before {
    width: 10%;
  }
  .setProfileImage .span-text {
    font: normal normal normal 13px/20px Poppins;
  }
  .setProfileImage .guidelines {
    font: normal normal normal 15px/23px Poppins;
  }
}

@media only screen and (max-width: 320px) {
  .signup-with-social::after,
  .signup-with-social::before {
    width: 6%;
  }
  .header-text {
    font: normal normal 600 18px/23px Poppins;
  }
  .login .login-label {
    font: normal normal normal 14px/23px Poppins;
  }
  .setProfileImage .note span {
    font: italic normal normal 9px/16px Poppins;
  }
}
