@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.auth-show-profile {
  width: 120px;
  height: max-content;
  background: #fff;
  position: absolute;
  z-index: 5555;
  bottom: -95px;
  left: calc(50% - 60px);
  border-radius: 5px;
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.auth-show-profile ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

.auth-show-profile ul li {
  list-style: none;
  font: 13px/30px Poppins;
  /* display: block; */
  font-weight: 100;
}

.auth-show-profile ul li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.auth-show-profile ul li a {
  /* opacity: 0.3; */
  color: #000;
}

.menu-logo,
.page-name {
  display: none;
}

.page-name h1 {
  font: normal normal 600 21px/31px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 0;
}

.slick-slider .slick-list .slick-track .slick-active .slid-verified-picture {
  display: flex;
}

.slick-slider .slick-list .slick-track .slick-active .slid-img-popup {
  display: block;
}

.slick-slide {
  opacity: 0.5;
}

.slick-active {
  opacity: 1 !important;
}

.slick-prev {
  left: 25px !important;
  z-index: 1 !important;
}

.slick-prev:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #000 !important;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next {
  right: 25px !important;
}

.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #000 !important;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  -moz-osx-font-smoothing: grayscale;
}

/* ==================================>Header<================================== */

/* ======================================>Auth Header<====================================== */
.small-header {
  display: block;
}

.authnave {
  background-color: #f8f9fa !important;
  position: fixed !important;
  z-index: 555;
  width: 100%;
  top: 0;
}

.authheader {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authheader h1 {
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 0px;
  font-size: 21px;
  font: normal normal 600 21px/31px Poppins;
}

.profile-pic {
  position: relative;
  margin-left: 20px;
}

.profile-pic img {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 50%;
}

.header-bottom-text {
  text-align: center;
  font: normal normal normal 7px/10px Poppins;
  font-size: 7px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.58;
  margin-bottom: 0px;
  padding: 0 10px;
}

.profilr-bg .back-btn {
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 8px;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 7px 10px;
}

.profilr-bg .select {
  width: 205px;
  border-radius: 6px !important;
  position: absolute;
  right: 12px;
  top: -80px;
  padding: 5px 15px !important;
}

.notification {
  width: 10px;
  height: 10px;
  background-color: #3ad800;
  position: absolute;
  border-radius: 50%;
  bottom: 1px;
  right: 10px;
}

.navbar-nav {
  align-items: center !important;
}

.navbar-nav a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  margin: 0 10px;
}

.navbar-nav a:hover {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  margin: 0 10px;
}

.nav-popup {
  background: #fff;
  padding: 15px;
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  top: 35px;
  z-index: 2;
}

.nav-popup .nav-links {
  display: flex;
  flex-direction: column;
}

.nav-popup .nav-links a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  margin: 10px 10px;
}

/* ============================================>Profile<============================================ */

.set-backbtn-singlebtn {
  position: relative;
}

.profilr-bg .single-btn {
  background: #000000 0% 0% no-repeat padding-box !important;
  border: 2px solid #3ad800 !important;
  border-radius: 6px !important;
  position: absolute;
  right: 12px;
  top: 10px;
  padding: 5px 15px !important;
}

.profilr-bg .single-btn:active {
  background-color: #fff !important;
  color: #000 !important;
}

.profilr-bg .single-btn:focus {
  box-shadow: none !important;
}

.over-img-div {
  position: relative;
  display: block;
}

.verified-picture {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 18px;
  z-index: 1;
}

.verified-picture img {
  margin-top: 12px;
}

.verified-picture p {
  font-size: 12px;
  text-align: left;
  font: normal normal bold 12px/18px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 0px;
}

.over-img-popup p {
  font-size: 12px;
  text-align: left;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 16px;
}

.over-img-popup span {
  color: #e69702;
  font-size: 12px;
}

.rotate-img {
  transform: rotate(180deg);
}

.name-age {
  text-align: left;
  font: normal normal bold 16px/31px Poppins;
  letter-spacing: 0px;
  color: #000000;
  font-size: 26px;
  margin-bottom: 0px;
}

.about-mi {
  text-align: left;
  font-size: 12px;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

/* .profile-accordion {
  padding-top: 160px;
} */

.accordion-item {
  border-bottom: 1px solid #e69702 !important;
  padding-bottom: 10px;
  margin-bottom: 12px;
}

.accordion-header button {
  text-align: left;
  background: none;
  border: none;
  font: normal normal bold 12px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 18px;
  padding: 0px;
  width: 100%;
}

.accordion-header button img {
  float: right;
}

.accordion-body {
  font-size: 16px !important;
}

.personal-details {
  padding-top: 30px;
}

.personal-details h2 {
  text-align: left;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 18px;
}

.personal-details p {
  /* width: 140px; */
  text-align: left;
  font: normal normal bold 12px/18px Poppins;
  letter-spacing: 0px;
  color: #e69702;
  opacity: 1;
  font-size: 16px;
  margin-bottom: 0!important;
}

.personal-details span {
  text-align: left;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 16px;
}

.fun-facts {
  margin-top: 15px;
  counter-reset: section;
}

.fun-facts h2 {
  text-align: left;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 18px;
}

.fun-facts p {
  text-align: left;
  font: normal normal bold 12px/18px Poppins;
  letter-spacing: 0px;
  /* color: #e69702; */
  opacity: 1;
  /* font-size: 16px; */
}

.fun-facts-items::before {
  counter-increment: section;
  content: "#"counter(section) ": ";
  color: #e69702;
  font-size: 15px !important;
  font-weight: 700;
}

.fun-facts span {
  text-align: left;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 16px;
}

/* =======================================>Match-Or-Message<======================================= */

.slick-prev {
  left: 10px !important;
  z-index: 1 !important;
}

.slick-next {
  right: 10px !important;
}

.match-or-message {
  display: flex;
  align-items: center;
}

.match-or-message p {
  text-align: left;
  font: normal normal bold 12px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}

.utilities-card img {
  margin: 0 auto;
}

.background-round {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  padding: 17px;
  border-radius: 100%;
}

.slider {
  overflow-x: hidden;
}

.slick-active {}

.slider-card {
  position: relative;
  background-color: #ffffff;
}

.slide-card img {
  width: 100%;
}

.slid-verified-picture {
  position: absolute;
  display: none;
  align-items: center;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.slid-verified-picture img {
  margin-top: 12px;
}

.slid-verified-picture p {
  font-size: 12px;
  text-align: left;
  font: normal normal bold 12px/18px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 0px;
}

.slid-img-popup {
  display: none;
  position: absolute;
  bottom: 0px !important;
  margin: 0 auto;
  width: 80%;
  left: 50%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #fcfcfc;
  border-radius: 8px;
  opacity: 1;
  padding: 7px;
  transform: translateX(-50%);
  box-shadow: 0px 3px 6px #00000029;
}

.slid-img-popup p {
  font-size: 12px;
  text-align: left;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 1px;
}

.slid-img-popup span {
  color: #e69702;
  font-size: 12px;
}

.activity-main {
  margin: 25px 15px 0;
  display: flex;
  justify-content: space-evenly;
}

.activity-main .rewind {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.activity-main .rewind img {
  margin: 5px;
}

.activity-main .rewind p {
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  text-transform: lowercase;
  opacity: 0.48;
  text-align: center;
  margin: 15px 0 0 0;
}

.activity-main .skip-content {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.activity-main .skip-content img {
  margin: 7px;
}

.activity-main .skip-content p {
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  text-transform: lowercase;
  opacity: 0.48;
  text-align: center;
  margin: 15px 0 0 0;
}

.activity-main .like-content {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.activity-main .like-content img {
  margin: 12px;
}

.activity-main .like-content p {
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  text-transform: lowercase;
  opacity: 0.48;
  text-align: center;
  margin: 15px 0 0 0;
}

.activity-main .message-content {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.activity-main .message-content img {
  margin: 11px;
}

.activity-main .text {
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #000000;
  text-transform: lowercase;
  opacity: 0.48;
  text-align: center;
  margin: 15px 0 0 0;
}

.message-bottom-popup {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 7px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.message-bottom-popup-header {
  display: flex;
  justify-content: space-between;
}

.message-bottom-popup-body {
  padding: 8px;
  padding-bottom: 0px;
}

.message-bottom-popup-body-text {
  text-align: left;
  font: normal normal normal 11px/17px Poppins;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 1px;
}

.message-bottom-popup-body-text span {
  text-align: left;
  font: normal normal bold 11px/17px Poppins;
  letter-spacing: 0px;
  color: #3ad800;
}

.message-bottom-popup img {
  width: 20px;
}

.no-matches-error {
  text-align: center;
}

.no-matches-error .no-matches-button {
  background: transparent linear-gradient(180deg, #f7c35f 0%, #e69702 100%) 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  border: none;
  box-shadow: none !important;
  font: normal normal bold 18px/27px Poppins;
  letter-spacing: 0px;
  padding: 5px 15px !important;
  color: #000000 !important;
}

.no-matches-error .no-matches-text {
  border: solid #00000080 1px;
  border-radius: 5px;
  padding: 5px 15px;
}

/* ====================================>Community<==================================== */
.community-popup {
  padding: 15px;
  background: #fff5e2 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 20px;
  margin-top: 20px;
}

.community-popup p {
  text-align: left;
  font: italic normal normal 10px/16px Poppins;
  letter-spacing: 0px;
  color: #000000;
  font-size: 10px;
  margin-bottom: 0%;
}

.community-popup p span {
  text-align: left;
  font: italic normal bold 10px/16px Poppins;
  letter-spacing: 0px;
  color: #000000;
  font-size: 10px;
}

.last-sms {
  text-align: left;
  font: normal normal bold 10px/16px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
  opacity: 1;
  font-size: 10px;
  margin-bottom: 0px;
}

.Name {
  text-align: left;
  font: normal normal 600 12px/18px Poppins;
  letter-spacing: 0px;
  opacity: 1;
}

.community {
  height: calc(100vh - 274px);
  overflow: auto;
}

/* <=====================dhruvin======================> */

.set-img-position {
  position: relative;
}

.community .active {
  background: #3ad800 0% 0% no-repeat padding-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 45px;
  left: 40px;
}

/* ==================================>Fotter input<================================== */

.Remember {
  background: #e6e6e6 0% 0% no-repeat padding-box;
  padding: 5px 0;
}

.Remember p {
  margin: 0px auto;
  text-align: center;
  font-size: 10px !important;
  font: normal normal normal 8px/12px Poppins;
  letter-spacing: 0px;
  color: #000000;
}

.fotterinput {
  width: 100%;
  /* background-color: red; */
  padding: 10px;
}

.fotterinput .choose-picture {
  width: 35px;
  height: 35px;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #e6e6e6;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

.fotterinput .send-gift {
  width: 35px;
  height: 35px;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #e6e6e6;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  margin: 0 5px;
  outline: none;
}

.fotterinput .text-input {
  border: transparent !important;
  width: 100%;
  height: 35px;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  border-radius: 18px;
  opacity: 1;
  padding-left: 15px;
  text-align: left;
  font: normal normal normal 10px/16px Poppins;
  letter-spacing: 0px;
  color: #000000;
}

/* ======================================>Terms_of_use<====================================== */

.Terms-of-use {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

.Terms {
  font-size: 14px;
  font-weight: 600;
}

/* ======================================>Edit Profile<====================================== */

.accordion-responsive {
  display: flex !important;
}

.edit-profile-footer-btn .login-btn {
  background: transparent linear-gradient(180deg, #f7c35f 0%, #e69702 100%) 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  border: none;
  box-shadow: none !important;
  font: normal normal bold 18px/27px Poppins;
  letter-spacing: 0px;
  padding: 15px !important;
  color: #000000 !important;
  margin-top: 15px;
}

.personal-details .login-input {
  /* border: none; */
  /* border-bottom: 1px solid #000 !important; */
  border-radius: 5px;
  box-shadow: none !important;
  outline: none !important;
  background: none !important;
  opacity: 1;
  /* padding-left: 0 !important; */
  width: 100%;
  color: #000;
  /* font-weight: bold; */
  padding: 0 10px !important;
}

.over-img-popup .login-input {
  border: none;
  border-bottom: 1px solid #000 !important;
  border-radius: 0;
  box-shadow: none !important;
  outline: none !important;
  background: none !important;
  opacity: 1;
  padding-left: 0 !important;
  color: #000;
  font-weight: bold;
}

.over-img-popup .login-label {
  text-align: left;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #000000;
  margin: 30px 0 0 0 !important;
}

.over-img-popup ::placeholder {
  text-align: left;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #000 !important;
}

.editprofile-slector .reactSelector .css-1okebmr-indicatorSeparator {
  display: none;
}

.editprofile-slector .reactSelector .css-26l3qy-menu {
  margin-top: 0 !important;
  border: 1px solid #e69702;
  padding: 0 10px !important;
  position: unset;
}

.editprofile-slector .reactSelector .css-yk16xz-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid !important;
  border-radius: 0px !important;
}

.editprofile-slector .reactSelector .css-1pahdxg-control {
  border-color: #000 !important;
  border-radius: 0% !important;
  box-shadow: none !important;
}

.editprofile-slector .reactSelector .css-yt9ioa-option,
.editprofile-slector .reactSelector .css-1n7v3ny-option {
  border-bottom: 1px solid #acacac !important;
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.editprofile-slector .reactSelector .css-1n7v3ny-option {
  background: transparent !important;
}

.editprofile-slector .reactSelector .css-yt9ioa-option:last-child {
  border: none !important;
}

.editprofile-slector .reactSelector .css-9gakcf-option {
  background: #fff !important;
  color: #000 !important;
}

.editprofile-slector .reactSelector .css-1wa3eu0-placeholder {
  border: none;
  /* border-bottom: 1px solid #000 !important; */
  border-radius: 0;
  box-shadow: none !important;
  outline: none !important;
  background: none !important;
  opacity: 1;
  padding-left: 0 !important;
  color: #000;
  font-weight: bold;
}

.editprofile-slector .reactSelector .css-g1d714-ValueContainer {
  padding: 0px !important;
}

.editprofile-slector .reactSelector .css-yk16xz-control:focus {
  background-color: transparent !important;
}

.editprofile-slector .reactSelector .toggleIcone {
  background-color: transparent !important;
}

.editprofile-slector .toggleIcone .css-tj5bde-Svg {
  color: #000 !important;
}

.editprofile-slector .css-tj5bde-Svg {
  color: #000 !important;
}

.editprofile-slector .css-1pahdxg-control {
  background: transparent !important;
  border: none;
  border-bottom: 1px solid #000;
}

.editprofile-slector .css-1uccc91-singleValue {
  border: none;
  border-radius: 0;
  box-shadow: none !important;
  outline: none !important;
  background: none !important;
  opacity: 1;
  padding-left: 0 !important;
  color: #000;
  font-weight: bold;
}

.editprofile-over-img-popup .verified-picture {
  position: absolute;
  display: block;
  align-items: center;
  top: -42px;
  z-index: 1;
  bottom: 0px;
}

/* ======================================>Max-Width:574px<====================================== */

@media (max-width: 574px) {
  .login h2 {
    font-size: 30px;
  }

  .accordion-responsive {
    display: block !important;
  }

  /* ======================================>Profile<====================================== */
  .no-matches-error .no-matches-text {
    padding: 5px 7px;
    margin: 0 10px;
  }

  .profilr-bg {
    /* background-image: url(./assets/img/taylor-8Vt2haq8NSQ-unsplash.png); */
    min-height: 328px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .name-age {
    font-size: 16px;
  }

  .over-img-popup {
    /* position: absolute; */
    width: 100%;
    margin-top: -150px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 3px solid #fcfcfc;
    border-radius: 8px;
    opacity: 1;
    padding: 7px;
  }

  .accordion-header button {
    font-size: 14px;
  }

  .accordion-body {
    font-size: 12px !important;
  }

  .personal-details h2 {
    font-size: 16px;
  }

  .personal-details p {
    font-size: 14px;
    /* width: 95px; */
    margin-bottom: 5px !important;
    margin: 0;
    padding: 0px !important;
  }

  .personal-details span {
    font-size: 14px;
    display: contents;
  }

  .fun-facts h2 {
    font-size: 16px;
  }

  .fun-facts p {
    font-size: 14px;
  }

  .fun-facts span {
    font-size: 14px;
  }

  /* ===========================================>991-profile<=========================================== */
  .over-img-div-991 {
    display: none;
  }

  .profilr-bg .select {
    top: 355px;
    z-index: 1;
    left: -4px;
    right: auto;
  }

  .Change-Profile-mb {
    margin-bottom: 50px;
  }

  .editprofile-over-img-popup .over-img-popup {
    position: inherit;
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 3px solid #fcfcfc;
    border-radius: 8px;
    opacity: 1;
    padding: 7px;
    margin-top: -40px;
  }
}

@media (max-width: 350px) {
  .community {
    height: calc(100vh - 323px);
    overflow: auto;
  }
}

@media (min-width: 350px) and (max-width: 574px) {
  .community {
    /* height: calc(100vh - 275px); */
    overflow: auto;
  }
}

/* ====================================>min-width:574px to max-width:767px<==================================== */

@media (min-width: 575px) and (max-width: 767px) {
  /* ======================================>Profile<====================================== */

  .profilr-bg {
    /* background-image: url(./assets/img/taylor-8Vt2haq8NSQ-unsplash.png); */
    min-height: 328px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .name-age {
    font-size: 18px;
  }

  .editprofile-over-img-popup .over-img-popup {
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 3px solid #fcfcfc;
    border-radius: 8px;
    opacity: 1;
    padding: 7px;
    position: initial;
    margin-top: -40px;
  }

  .over-img-popup {
    /* position: absolute; */
    width: 100%;
    margin-top: -90px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 3px solid #fcfcfc;
    border-radius: 8px;
    opacity: 1;
    padding: 7px;
  }

  /* ===========================================>991-profile<=========================================== */
  .over-img-div-991 {
    display: none;
  }

  .community {
    /* height: calc(100vh - 250px); */
    overflow: auto;
  }

  .profilr-bg .select {
    top: 10px;
  }

  .profilr-bg .back-btn {
    top: 14px;
  }
}

/* ====================================>min-width:768px to max-width:991px<====================================== */

@media (min-width: 768px) {
  .profilr-bg {
    background: transparent linear-gradient(180deg, #e69702 0%, #f7c35f 100%) 0% 0% no-repeat padding-box !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    position: relative;
    padding: 100px 0;
  }
}

@media (max-width: 768px) {
  .profilr-bg {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    /* padding: 100px 0; */
    width: 100vw !important;
  }

  /* .over-img-popup .Change-Profile-btn {
    background-color: #e69702;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
  } */

  .match-or-message p {
    margin-top: 14px;
  }

  .Change-Profile-mb .Change-Profile-btn {
    display: inline-block;
    border-radius: 13px;
    background-color: #e69702 !important;
    background-color: (#e69702, .75) !important;
    color: #000 !important;
    border: 0 none;
    /* padding: 0; */
    text-align: center;
    /* width: 5em;
    height:3em; */
    line-height: 3em;
    padding: 10px 15px;
    /* margin-top: 15px; */
    letter-spacing: 0px;
    box-shadow: none !important;
    font: normal normal bold 18px/27px Poppins;
    position: relative;
    /* transition: all .25s ease-in-out; */
  }

  .Change-Profile-mb .Change-Profile-btn:focus {
    background-color: #e69702 !important;
    color: #000;
  }

  @keyframes social-button-beat {
    0% {
      opacity: 0.8;
      transform: scale(1);
    }

    70% {
      opacity: 0;
      transform: scale(1.5);
    }

    100% {
      opacity: 0;
    }
  }

  .Change-Profile-mb .Change-Profile-btn:focus::before {
    animation: social-button-beat 1.5s ease-out infinite;
  }

  .Change-Profile-mb .Change-Profile-btn:focus:after {
    animation: social-button-beat 1.5s ease-out 0.4s infinite;
  }

  .Change-Profile-mb .Change-Profile-btn:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #e69702;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }

  .Change-Profile-mb .Change-Profile-btn:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #e69702;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  /* ======================================>Auth Header<====================================== */

  .small-header {
    display: none;
  }

  .authnave {
    display: flex !important;
  }

  /* ======================================>Profile<====================================== */

  .profilr-bg {
    background: transparent linear-gradient(180deg, #e69702 0%, #f7c35f 100%) 0% 0% no-repeat padding-box !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    position: relative;
    padding: 100px 0;
  }

  .name-age {
    font-size: 20px;
  }

  .over-img-div {
    position: relative;
    display: none;
  }

  .profile-accordion {
    padding-top: 20px;
  }

  .profilr-bg .back-btn {
    background-color: #ffffff;
    border-radius: 50%;
    line-height: 8px;
    position: absolute;
    top: -70px;
    left: 10px;
    padding: 7px 10px;
  }

  .profilr-bg .single-btn {
    background: #000000 0% 0% no-repeat padding-box !important;
    border: 2px solid #3ad800 !important;
    border-radius: 6px !important;
    position: absolute;
    right: 12px;
    top: -70px;
    padding: 5px 15px !important;
  }

  /* ===========================================>991-profile<=========================================== */

  .over-img-div-991 {
    display: block;
  }

  .over-img-div-991 .profile-pic {
    position: relative;
  }

  .over-img-div-991 .profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .over-img-div-991 .profile-pic .verified-picture {
    position: absolute;
    text-align: center;
    display: block;
    align-items: center;
    bottom: -35px;
    z-index: 1;
    left: 25px;
  }

  .over-img-div-991 .profile-pic .verified-picture img {
    margin-top: 12px;
    width: 50px;
    height: 50px;
  }

  .over-img-div-991 .profile-pic .verified-picture p {
    font-size: 12px;
    text-align: left;
    font: normal normal bold 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
    margin-bottom: 0px;
  }

  /* .name-age {
        text-align: left;
        font: normal normal bold 16px/31px Poppins;
        letter-spacing: 0px;
        color: #000;
        margin-bottom: 0px;
        font-size: 20px;
    } */

  .over-img-popup p {
    font-size: 14px !important;
    text-align: left;
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000;
    margin-bottom: 16px;
    font-weight: 500;
  }

  .over-img-popup span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }

  /* =======================================>Match-Or-Message<======================================= */

  .match-or-message p {
    text-align: left;
    font: normal normal bold 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
  }

  .message-bottom-popup-body-text {
    text-align: left;
    font: normal normal bold 11px/17px Poppins;
    font-size: 12px;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 0px;
  }

  .community {
    height: calc(100vh - 300px);
    overflow: auto;
  }
}

/* ====================================>min-width:992px to max-width:1200px<====================================== */

@media (min-width: 992px) and (max-width: 1200px) {
  /* ======================================>Auth Header<====================================== */

  .small-header {
    display: none;
  }

  .authnave {
    display: flex !important;
  }

  /* ======================================>Profile<====================================== */

  .profilr-bg {
    background: transparent linear-gradient(180deg, #e69702 0%, #f7c35f 100%) 0% 0% no-repeat padding-box !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0;
  }

  .name-age {
    font-size: 22px;
  }

  .over-img-div {
    position: relative;
    display: none;
  }

  .profile-accordion {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .profilr-bg .back-btn {
    background-color: #ffffff;
    border-radius: 50%;
    line-height: 8px;
    position: absolute;
    top: -70px;
    left: 10px;
    padding: 7px 10px;
  }

  .profilr-bg .single-btn {
    background: #000000 0% 0% no-repeat padding-box !important;
    border: 2px solid #3ad800 !important;
    border-radius: 6px !important;
    position: absolute;
    right: 12px;
    top: -70px;
    padding: 5px 15px !important;
  }

  /* ===========================================>991-profile<=========================================== */

  .over-img-div-991 {
    display: block;
  }

  .over-img-div-991 .profile-pic {
    position: relative;
  }

  .over-img-div-991 .profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .over-img-div-991 .profile-pic .verified-picture {
    position: absolute;
    text-align: center;
    display: block;
    align-items: center;
    bottom: -35px;
    z-index: 1;
    left: 25px;
  }

  .over-img-div-991 .profile-pic .verified-picture img {
    margin-top: 12px;
    width: 50px;
    height: 50px;
  }

  .over-img-div-991 .profile-pic .verified-picture p {
    font-size: 12px;
    text-align: left;
    font: normal normal bold 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
    margin-bottom: 0px;
  }

  /* .name-age {
        text-align: left;
        font: normal normal bold 16px/31px Poppins;
        letter-spacing: 0px;
        color: #000;
        margin-bottom: 0px;
        font-size: 20px;
    } */

  .over-img-popup p {
    font-size: 14px !important;
    text-align: left;
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000;
    margin-bottom: 16px;
    font-weight: 500;
  }

  .over-img-popup span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }

  /* =======================================>Match-Or-Message<======================================= */

  .match-or-message p {
    text-align: left;
    font: normal normal bold 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
  }

  .activity-main .text {
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000000;
    text-transform: lowercase;
    opacity: 0.48;
    text-align: center;
    font-size: 14px;
    margin: 15px 0 0 0;
  }

  .message-bottom-popup-body-text {
    text-align: left;
    font: normal normal bold 11px/17px Poppins;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 0px;
    font-size: 14px;
  }

  /* .community {
        height: calc(100vh - 300px);
        overflow: auto;
    } */
}

/* ====================================>min-width:1200px<====================================== */

@media (min-width: 1200px) {
  /* ======================================>Auth Header<====================================== */

  .small-header {
    display: none;
  }

  .authnave {
    display: flex !important;
  }

  /* ======================================>Profile<====================================== */

  .profilr-bg {
    background: transparent linear-gradient(180deg, #e69702 0%, #f7c35f 100%) 0% 0% no-repeat padding-box;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0;
  }

  .name-age {
    font-size: 18px;
  }

  .over-img-div {
    position: relative;
    display: none;
  }

  .profile-accordion {
    padding-top: 20px;
  }

  .profilr-bg .back-btn {
    background-color: #ffffff;
    border-radius: 50%;
    line-height: 8px;
    position: absolute;
    top: -70px;
    left: 10px;
    padding: 7px 10px;
  }

  .profilr-bg .single-btn {
    background: #000000 0% 0% no-repeat padding-box !important;
    border: 2px solid #3ad800 !important;
    border-radius: 6px !important;
    position: absolute;
    right: 12px;
    top: -70px;
    padding: 5px 15px !important;
  }

  /* ===========================================>991-profile<=========================================== */

  .over-img-div-991 {
    display: block;
  }

  .over-img-div-991 .profile-pic {
    position: relative;
  }

  .over-img-div-991 .profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .over-img-div-991 .profile-pic .verified-picture {
    position: absolute;
    text-align: center;
    display: block;
    align-items: center;
    bottom: -35px;
    z-index: 1;
    left: 25px;
  }

  .over-img-div-991 .profile-pic .verified-picture img {
    margin-top: 12px;
    width: 50px;
    height: 50px;
  }

  .over-img-div-991 .profile-pic .verified-picture p {
    font-size: 12px;
    text-align: left;
    font: normal normal bold 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
    margin-bottom: 0px;
  }

  /* .name-age {
        text-align: left;
        font: normal normal bold 16px/31px Poppins;
        letter-spacing: 0px;
        color: #000;
        margin-bottom: 0px;
        font-size: 20px;
    } */

  .over-img-popup p {
    font-size: 14px !important;
    text-align: left;
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000;
    margin-bottom: 16px;
    font-weight: 500;
  }

  .over-img-popup span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }

  /* =======================================>Match-Or-Message<======================================= */

  .match-or-message {
    display: flex;
    align-items: center;
  }

  .match-or-message p {
    text-align: left;
    font: normal normal bold 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
  }

  .slider {
    overflow-x: hidden;
    width: 1200px;
    margin: 0 auto;
  }

  .activity-main .text {
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000000;
    text-transform: lowercase;
    opacity: 0.48;
    font-size: 16px;
    text-align: center;
    margin: 15px 0 0 0;
  }

  .message-bottom-popup-body-text {
    text-align: left;
    font: normal normal bold 11px/17px Poppins;
    letter-spacing: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #000000;
  }

  .message-bottom-popup-body-text span {
    text-align: left;
    font: normal normal bold 11px/17px Poppins;
    letter-spacing: 0px;
    font-size: 14px;
    color: #3ad800;
  }

  .message-bottom-popup img {
    width: 20px;
  }

  .community {
    /* height: calc(100vh - 219px); */
    overflow: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .auth-show-profile {
    right: 0 !important;
    left: unset;
    /* display: none; */
  }
}

@media only screen and (max-width: 768px) {

  .navLinks,
  .uncommon-logo {
    display: none !important;
  }

  .menu-logo,
  .page-name {
    display: block;
  }

  .community {
    height: calc(100vh - 300px);
  }
}

/* =========================================>     <============================================= */

/* color-primary = #e44848
color-white = #fff */

/* social-button-color = color-white
social-button-bg-color = #8C8C8C
social-button-hover-color = color-white
social-button-hover-bg-color = color-primary
social-button-size = 3em
social-button-radius = 50% */

/* // Body styles */
/* html{
	font-size: 16px;
	line-height: 1.5;
} */

/* body
	margin: 0
	padding: 2em */

/* .text-center{
	text-align: center
}

.text-large{
	font-size: 2em
} */

/* // Animation */

/* // Social Button Styles */

.edit-profile-footer-btn .social-button {
  display: inline-block;
  border-radius: 13px;
  background-color: #e69702 !important;
  background-color: (#e69702, .75) !important;
  color: #000 !important;
  border: 0 none;
  padding: 0;
  text-align: center;
  width: 5em;
  height: 3em;
  line-height: 3em;
  margin-top: 15px;
  letter-spacing: 0px;
  box-shadow: none !important;
  font: normal normal bold 18px/27px Poppins;
  position: relative;
  /* transition: all .25s ease-in-out; */
}

.edit-profile-footer-btn .social-button:focus {
  background-color: #e69702 !important;
  color: #000;
}


@keyframes social-button-beat {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }

  70% {
    opacity: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 0;
  }
}

.edit-profile-footer-btn .social-button:focus::before {
  animation: social-button-beat 1.5s ease-out infinite;
}

.edit-profile-footer-btn .social-button:focus:after {
  animation: social-button-beat 1.5s ease-out 0.4s infinite;
}

.edit-profile-footer-btn .social-button:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #e69702;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.edit-profile-footer-btn .social-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #e69702;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}


@media only screen and (max-width: 400px) {
  .activity-main .rewind {
    width: 40px !important;
    height: 40px !important;
  }

  .activity-main .skip-content {
    width: 40px !important;
    height: 40px !important;
  }

  .activity-main .like-content {
    width: 40px !important;
    height: 40px !important;
  }

  .activity-main .message-content {
    width: 40px !important;
    height: 40px !important;
    margin-right: 0px !important;
  }

  .activity-main .message-content {
    width: 40px !important;
    height: 40px !important;
    margin-right: 0px !important;
  }

  .activity-main .rewind img {
    width: 30px !important;
    height: 30px !important;
    margin: 5px !important;
  }

  .activity-main .skip-content img {
    width: 30px !important;
    height: 30px !important;
    margin: 5px !important;
  }

  .activity-main .like-content img {
    width: 30px !important;
    height: 30px !important;
    margin: 5px !important;
  }

  .activity-main .message-content img {
    width: 30px !important;
    height: 30px !important;
    margin: 5px !important;
  }

  .activity-main .message-content img {
    width: 30px !important;
    height: 30px !important;
    margin: 5px !important;
  }

  .activity-main .text {
    display: none;
  }
}


/* ==><== */

.splash-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.splash-logo {
  margin: 0% auto;
  justify-content: center;
  margin-bottom: 180px;
}

.splash-logo .header-logo img {
  margin-right: 10px;
}

.splash-card button {
  display: inline-block;
  border-radius: 13px;
  background: transparent linear-gradient(180deg, #f7c35f 0%, #e69702 100%) 0% 0% no-repeat padding-box;
  color: #000 !important;
  border: 0 none;
  padding: 0;
  text-align: center;
  width: 5em;
  height: 3em;
  line-height: 3em;
  margin-top: 15px;
  letter-spacing: 0px;
  box-shadow: none !important;
  font: normal normal bold 18px/27px Poppins;
  position: relative;
}

.splash-card button:focus {
  background: transparent linear-gradient(180deg, #f7c35f 0%, #e69702 100%) 0% 0% no-repeat padding-box;
  color: #000;
}

.splash-card .text p {
  font: italic normal normal 12px/14px Poppins;
  opacity: 0.42;
}

.splash-card .text h5 {
  font: normal normal 600 19px/25px Poppins;
}

.splash-card .header-logo img {
  width: 65px;
  height: 65px;
}